<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesomeall.min.css' %}">
</head>
<body>



<div class="container" style="padding-top:45px;padding-bottom:45px;">

    <div class="card  mt-4 mx-auto" style="width:48rem;">
        <img src="{{ post.image.url }}">
            <div class="card-body">

                    <h3 class="card-title"> {{ post.title }}</h3>
                    <p class="card-text"> {{ post.content}} </p>
                    <p class="text-muted"> <small>{{ post.date }}</small></p>


            </div>

    </div>


</div>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>